.rates {
  align-items: center;
  display: flex;
  padding-top: 100px;
  background: #f8f8f8;
}

.rates__wrapper {
  margin: 0 auto;
}

.rates__header {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #1c1c1c;
  font-size: 44px;
}

.rates__paragraph {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-size: 22px;
  width: 570px;
  font-weight: 300;
  text-align: left;
  color: #1c1c1c;
}

.card-grid {
  margin-top: 50px;
  display: flex;
  grid-column-gap: 40px;
}

.card {
  position: relative;
  width: 365px;
  height: 570px;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.025);
}

.card-background_first {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 100ms linear, transform 100ms linear;
  filter: brightness(0.8) saturate(1.2) contrast(0.85);
  background-color: #474a51;
  opacity: 0.9;
  /* filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7)); */
}

.card-background_second {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 100ms linear, transform 100ms linear;
  filter: brightness(0.8) saturate(1.2) contrast(0.85);
  background-color: #d5d5d5;
  opacity: 0.9;
  /* filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7)); */
}

.card-background_third {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 100ms linear, transform 100ms linear;
  filter: brightness(0.8) saturate(1.2) contrast(0.85);
  background-color: #82898f;
  opacity: 0.9;
  /* filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7)); */
}

.rates__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.rates__heading {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  color: #1c1c1c;
  font-weight: 600;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.rates__block-inner {
  position: absolute;
  background-color: #eaecee;
  width: 100%;
  height: 130px;
  z-index: 2;
}

.card__price {
  padding: 0;
  margin-top: 37px;
  position: absolute;
  top: 380px;
  color: #fff;
  font-size: 23px;
  width: 100%;
  text-align: center;
}

.card__price-additional {
  margin-top: 75px;
}

.rates__button-text {
  margin: 20px auto;
  position: absolute;
  top: 480px;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
  transition: color 0.4s ease-in-out;
}

.rates__button-text:hover {
  color: #f8f8f8;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
}

.rates__list {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  z-index: 2;
  list-style: none;
}

.rates__item {
  margin: 0;
  padding: 10px 0 0 0;
  color: white;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
  z-index: 2;
}

@media (max-width: 1180px) {
  .rates {
    width: 100%;
  }
  .rates__wrapper {
    width: 90%;
  }
  .rates__block-inner {
    height: 110px;
  }
  .rates__list {
    margin-top: 70px;
  }
  .card {
    height: 520px;
  }
  .card__price-additional {
    margin-top: 25px;
  }
  .rates__header {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .rates__paragraph {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
  }
  .rates__heading {
    font-size: 40px;
  }
  .rates__item {
    font-size: 21px;
  }
  .card-price {
    font-size: 19px;
  }
  .rates__button-text {
    margin: 0 auto;
    font-size: 25px;
    top: 450px;
  }
  .card-grid {
    grid-column-gap: 15px;
  }
}

@media (max-width: 900px) {
  .rates__header {
    margin: 0 auto;
    text-align: center;
    font-size: 37px;
  }

  .rates__paragraph {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }

  .card-grid {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 30px;
  }
  .rates {
    padding-bottom: 80px;
  }
}

@media (max-width: 800px) {
  .rates__button-text {
    left: 50%;
    transform: translate(-50%);
    font-size: 25px;
  }
  .rates__header {
    font-size: 37px;
    width: 90%;
  }

  .rates__paragraph {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .rates__header {
    padding: 50px 0 0 0;
    font-size: 35px;
    width: 90%;
  }
  .rates__paragraph {
    font-size: 18px;
    width: 90%;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .rates__header {
    padding: 0;
    font-size: 32px;
    width: 90%;
  }
  .rates__paragraph {
    font-size: 18px;
    margin-top: 20px;
    width: 90%;
  }
  .rates {
    padding-bottom: 0px;
  }
  .rates__block-inner {
    height: 100px;
  }
  .rates__heading {
    margin-top: 5px;
  }
  .card__price-additional {
    margin-top: 40px;
  }
  .rates__button-text {
    margin-top: 5px;
  }
}

@media (max-width: 450px) {
  .rates__header {
    font-size: 30px;
    width: 90%;
  }
  .rates__paragraph {
    font-size: 22px;
    margin-top: 20px;
    width: 100%;
  }
  .card-grid {
    width: 90%;
    margin: 30px auto;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .rates__header {
    font-size: 32px;
    width: 100%;
  }
  .rates__paragraph {
    margin-top: 22px;
    width: 100%;
  }
}
