.rates {
  align-items: center;
  display: flex;
  padding-bottom: 200px;
  background: #f8f8f8;
}

.rates__wrapper {
  margin: 0 auto;
}

.rates__header {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #1c1c1c;
  font-size: 48px;
}

.card-grid {
  margin-top: 50px;
  display: flex;
  grid-column-gap: 40px;
}

.card {
  position: relative;
  width: 300px;
  height: 450px;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 20px 20px rgba(0, 0, 0, 0.5);
}

.card-background_first {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 100ms linear, transform 100ms linear;
  filter: brightness(0.8) saturate(1.2) contrast(0.85);
  /* background-image: url(../../images/rate1.jpg); */
  background-color: #606060;
  opacity: 0.9;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
}

.card-background_second {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 100ms linear, transform 100ms linear;
  filter: brightness(0.8) saturate(1.2) contrast(0.85);
  /* background-image: url(../../images/rate2.jpg); */
  background-color: #484848;
  opacity: 0.9;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
}

.card-background_third {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 100ms linear, transform 100ms linear;
  filter: brightness(0.8) saturate(1.2) contrast(0.85);
  /* background-image: url(../../images/rate3.jpg); */
  background-color: #282828;
  opacity: 0.9;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  padding: 24px;
}

.card-heading {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 600;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.card__price {
  padding: 0;
  margin-top: 37px;
  position: absolute;
  top: 280px;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.4;
  width: 100%;
  text-align: center;
}

.card__price-additional {
  margin-top: 75px;
}

.card-bottom-text {
  position: absolute;
  left: 60px;
  top: 370px;
  color: #fff;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: transform 0.5s ease;
}

.card-bottom-text:hover {
  transform: scale(1.05);
}

.card:hover .card-background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover),
.card-content:not(:hover) .card-background {
  filter: brightness(1) saturate(1) contrast(1.2) blur(5px);
}

.card__list {
  margin: 30px;
  padding: 0;
  z-index: 2;
}

.card__item {
  margin: 0;
  font-size: 21px;
  padding: 5px 0 0 0;
  color: white;
  padding-bottom: 5px;
  font-size: 23px;
  font-weight: 300;
  text-decoration: none;
  z-index: 2;
}

@media (max-width: 1000px) {
  .rates {
    width: 100%;
  }
  .rates__wrapper {
    width: 90%;
  }
  .rates__header {
    padding-top: 50px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .card-grid {
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .rates__header {
    padding: 50px 0 0 0;
    width: 100%;
  }
}
