.slider {
  background: #f8f8f8;
  height: 750px;
  padding-bottom: 180px;
}

.slider__wrapper {
  width: 1000px;
  margin: 0 auto;
}

.swiper__header {
  text-transform: uppercase;
  margin: 0;
  padding: 40px 0 0 0;
  font-size: 33px;
  text-align: center;
  font-weight: 600;
  color: #1c1c1c;
}

.swiper {
  height: 600px;
  border-radius: 40px;
  width: 900px;
}

:root {
  --swiper-navigation-size: 45px;
}

:root {
  --swiper-theme-color: #ff43a4;
}

.swiper-button-next {
  transition: transform 0.4s ease;
}

.swiper-button-next:hover {
  transform: scale(1.2);
}

.swiper-button-next {
  color: #1c1c1c;
}
.swiper-slide {
  /* background: url(../../images/geometric-paper-texture.jpg); */
  display: flex;
  background-color: #f8f8f8;
  /* background: url(../../images/6452995.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.swiper__container {
  width: 600px;
}

.swiper__caption {
  padding: 0;
  margin: 0 auto;
  color: #ff43a4;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.swiper__text {
  padding: 0;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 29px;
  font-weight: 300;
  color: #ff43a4;
  text-align: center;
}

.swiper-button-next {
  color: #ff43a4;
}

.swiper-button-prev {
  color: #ff43a4;
}

.swiper__letter {
  text-transform: none;
  font-size: 40px;
}

.swiper__letter span {
  color: #ff83dc;
}

@media (max-width: 1000px) {
  .slider {
    width: 100%;
  }
  .slider__wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .swiper__header {
    margin: 0 auto;
    width: 90%;
  }
  .swiper {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .swiper__caption {
    font-size: 38px;
    width: 80%;
  }
  .swiper__text {
    font-size: 26px;
    width: 80%;
  }
  .swiper {
    height: 550px;
  }
}

@media (max-width: 700px) {
  .swiper {
    height: 500px;
  }
}
@media (max-width: 650px) {
  .slider {
    height: 600px;
  }
}

@media (max-width: 600px) {
  .swiper__caption {
    font-size: 35px;
    width: 80%;
  }
  .swiper__text {
    font-size: 23px;
    width: 80%;
  }
  .swiper {
    height: 450px;
  }
}

@media (max-width: 550px) {
  .swiper__caption {
    font-size: 30px;
  }
  .swiper__text {
    font-size: 20px;
  }
  .swiper {
    height: 450px;
  }
  :root {
    --swiper-navigation-size: 35px;
  }
}

@media (max-width: 400px) {
  .swiper__caption {
    font-size: 25px;
  }
  .swiper__text {
    font-size: 18px;
  }
  .swiper {
    height: 400px;
  }
  :root {
    --swiper-navigation-size: 30px;
  }
}
