.options {
  background: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 50px;
}

.options__wrapper {
  width: 1180px;
  margin: 0 auto;
}

.options__header {
  text-transform: uppercase;
  margin: 0;
  padding: 40px 0 0 0;
  font-size: 37px;
  text-align: left;
  font-weight: 600;
  color: #1c1c1c;
  /* height: 90px; */
}

.options__text {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-size: 22px;
  width: 570px;
  font-weight: 300;
  text-align: left;
  color: #1c1c1c;
}

.options__letter {
  text-transform: none;
  font-size: 44px;
}

.options__letter span {
  color: #ff83dc;
}

.options__container {
  margin-top: 55px;
  width: 1180px;
  height: 870px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.options__block2 {
  width: 570px;
  border-radius: 30px;
  text-align: center;
  flex-grow: 2;
  transition: 0.5s ease-in-out;
  /* height: 350px; */
}

.options__block3 {
  margin: 0 auto;
  width: 360px;
  border-radius: 30px;
  flex-grow: 3;
  /* height: 386px; */
  transition: 0.5s ease-in-out;
}

.options__block2:hover {
  transform: scale(1.025);
  cursor: pointer;
}
.options__block3:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.options__paragraph {
  margin: 0;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  color: #1c1c1c;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.options__paragraph-calendar {
  position: relative;
  z-index: 9;
}

.options__paragraph-safe {
  position: relative;
  z-index: 9;
}

.options__logo {
  position: relative;
  top: 10px;
  width: 500px;
  height: 500px;
  transform: rotate(135deg);
}

.first-block {
  background-color: #ffe6ef;
  position: relative;
}
.second-block {
  background-color: #eaecee;
  position: relative;
}
.third-block {
  background-color: #d5d5d5;
  position: relative;
}
.fourth-block {
  background-color: #f2f3f5;
  background-color: rgba(171, 205, 239, 0.5);
  position: relative;
}
.fifth-block {
  background-color: #fff4e2;
  position: relative;
}

.options__image {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.options__image-clients {
  top: 240px;
  right: 137px;
  width: 170px;
  height: 170px;
  z-index: 5;
  transform: rotate(10deg);
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
  opacity: 0.85;
}

.options__image-growths {
  top: 195px;
  right: 22px;
  width: 170px;
  height: 170px;
  z-index: 4;
  transform: rotate(-10deg);
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
  opacity: 0.7;
}

.options__image-notebook {
  top: 229px;
  left: 48px;
  width: 200px;
  height: 200px;
  z-index: 2;
  transform: scale(1, 1) rotate(62deg) skew(-9deg);
  filter: drop-shadow(0px 11px 7px rgba(0, 0, 0, 0.5));
  opacity: 0.7;
}

.options__image-notification {
  top: 156px;
  right: -24px;
  width: 259px;
  height: 259px;
  z-index: 3;
  transform: scale(1, 1) rotate(-6deg);
  filter: drop-shadow(0px 9px 5px rgba(0, 0, 0, 0.5));
  opacity: 0.85;
}

.options__image-planet {
  top: 251px;
  right: 177px;
  width: 170px;
  height: 170px;
  z-index: 4;
  transform: rotate(-10deg);
  filter: drop-shadow(0px 9px 6px rgba(0, 0, 0, 0.5));
  opacity: 0.7;
}

.options__image-calendar {
  top: 186px;
  right: 47px;
  width: 210px;
  height: 210px;
  z-index: 4;
  transform: scale(1, 1) rotate(10deg);
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
  opacity: 0.7;
}

.options__image-laptop {
  top: 84px;
  right: 28px;
  width: 340px;
  height: 340px;
  z-index: 5;
  transform: rotate(10deg);
  filter: drop-shadow(0px 11px 6px rgba(0, 0, 0, 0.5));
  opacity: 0.8;
}

.options__image-analytics {
  top: 181px;
  right: 204px;
  width: 210px;
  height: 210px;
  z-index: 5;
  transform: rotateX(20deg);
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
  opacity: 0.85;
}

.options__image-stats {
  top: 172px;
  right: 311px;
  width: 220px;
  height: 220px;
  z-index: 3;
  transform: rotate(-24deg);
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
  opacity: 0.85;
}

.options__image-award {
  top: 128px;
  left: 55px;
  width: 240px;
  height: 240px;
  z-index: 3;
  transform: scale(-1, 1) rotate(0deg);
  filter: drop-shadow(0px 11px 7px rgba(0, 0, 0, 0.5));
  opacity: 0.75;
}

.options__image-calc {
  top: 221px;
  left: 200px;
  width: 170px;
  height: 170px;
  z-index: 5;
  transform: scale(-1, 1) rotate(22deg);
  filter: drop-shadow(0px 8px 7px rgba(0, 0, 0, 0.5));
  opacity: 0.75;
}

.options__image-safe {
  top: 111px;
  right: 26px;
  width: 275px;
  height: 275px;
  z-index: 6;
  transform: rotate(10deg);
  filter: drop-shadow(0px 11px 7px rgba(0, 0, 0, 0.5));
  opacity: 0.85;
}
