.support {
  background-color: #f8f8f8;
  padding-top: 100px;
}

.support__wrapper {
  padding-bottom: 200px;
  border-radius: 30px;
  height: 250px;
  /* background-color: #808080; */
  background-color: #e3edef;
  background-color: #dcdcdc;
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

.support__block {
  position: relative;
  width: 100%;
  padding-left: 80px;
  padding-top: 60px;
  z-index: 1;
}

.support__header {
  margin: 0;
  padding: 0;
  font-size: 31px;
  text-align: left;
  margin-left: 0px;
  font-weight: 600;
  padding-top: 10px;
  color: black;
  position: relative;
  z-index: 3;
}

.support__inner-block {
  position: absolute;
  width: 170px;
  display: flex;
  margin-top: 50px;
  border-radius: 30px;
  height: 170px;
  background-color: #dcdcdc;
}

.support__left-container {
  display: flex;
  flex-direction: column;
  width: 90px;
  justify-content: space-between;
}

.support__right-container {
  display: flex;
  flex-direction: column;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}

.support__button {
  display: block;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

.support__image_squads {
  width: 270px;
  height: 270px;
  position: absolute;
  right: 326px;
  top: 157px;
  z-index: 3;
  transform: scale(1, 1) rotate(30deg);
  filter: drop-shadow(0px 11px 7px rgba(0, 0, 0, 0.5));
  opacity: 0.8;
  pointer-events: none;
  user-select: none;
}

.support__image_letter {
  top: 62px;
  right: 110px;
  position: absolute;
  width: 330px;
  height: 330px;
  z-index: 3;
  transform: scale(1, 1) rotate(7deg);
  filter: drop-shadow(0px 9px 5px rgba(0, 0, 0, 0.5));
  opacity: 0.9;
  pointer-events: none;
  user-select: none;
}

.support__button:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.support__button_mail {
  background-image: url('../../images/mailBlack.png');
  background-size: contain;
}

.support__button_vk {
  background-image: url('../../images/vkBlack.png');
  background-size: contain;
}
.support__button_facebook {
  background-image: url('../../images/facebookBlack.png');
  background-size: contain;
}
.support__button_tg {
  background-image: url('../../images/telegramBlack.png');
  background-size: contain;
}

.support__text {
  margin: 0;
  padding: 0;
  font-size: 21px;
  text-align: left;
  margin-left: 0px;
  font-weight: 300;
  padding-top: 10px;
  color: black;
}

@media (max-width: 1180px) {
  .support__wrapper {
    width: 90%;
  }
  .support__block {
    margin: 0 auto;
    width: 90%;
  }
  .support__header {
    width: 80%;
  }
  .support__text {
    width: 80%;
  }
  .support__image_letter {
    top: 88px;
    right: 30px;
  }
  .support__image_squads {
    right: 250px;
  }
}

@media (max-width: 900px) {
  .support__wrapper {
    width: 85vw;
  }
  .support__image_squads {
    width: 250px;
    height: 250px;
    top: 150px;
  }

  .support__image_letter {
    width: 290px;
    height: 290px;
    top: 100px;
  }
}

@media (max-width: 850px) {
  .support__wrapper {
    width: 86%;
  }
  .support__block {
    margin: 0 auto;
    width: 100%;
  }
  .support__header {
    width: 70%;
  }
  .support__image_squads {
    width: 210px;
    height: 210px;
    top: 210px;
    right: 300px;
  }

  .support__image_letter {
    width: 270px;
    height: 270px;
    top: 140px;
    right: 100px;
  }
}

@media (max-width: 800px) {
  .support__block {
    margin: 0 auto;
    padding-left: 0;
    width: 90%;
  }
  .support__header {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .support__text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .support__inner-block {
    position: static;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
  }
  .support__header {
    margin: 0 auto;
  }
  .support__text {
    margin: 0 auto;
  }
  .support__image_squads {
    width: 210px;
    height: 210px;
    top: 440px;
    right: 280px;
  }

  .support__image_letter {
    width: 240px;
    height: 240px;
    top: 400px;
    right: 110px;
  }
  .support__wrapper {
    height: 450px;
  }
}

@media (max-width: 750px) {
  .support__image_squads {
    width: 210px;
    height: 210px;
    top: 440px;
    right: 220px;
  }

  .support__image_letter {
    width: 240px;
    height: 240px;
    top: 400px;
    right: 50px;
  }
}

@media (max-width: 600px) {
  .support__image_squads {
    width: 210px;
    height: 210px;
    top: 440px;
    right: 200px;
  }

  .support__image_letter {
    width: 240px;
    height: 240px;
    top: 400px;
    right: 30px;
  }
}

@media (max-width: 550px) {
  .support {
    padding-top: 0px;
  }
}

@media (max-width: 520px) {
  .support__header {
    width: 90%;
  }
  .support__text {
    width: 90%;
  }

  .support__wrapper {
    height: 520px;
  }
  .support__image_squads {
    width: 190px;
    height: 190px;
    top: 480px;
    right: 160px;
  }

  .support__image_letter {
    width: 220px;
    height: 220px;
    top: 440px;
    right: 0px;
  }
}

@media (max-width: 450px) {
  .support__wrapper {
    height: 500px;
  }
  .support__image_squads {
    width: 150px;
    height: 150px;
    top: 480px;
    right: 140px;
  }

  .support__image_letter {
    width: 200px;
    height: 200px;
    top: 440px;
    right: -10px;
  }
}

@media (max-width: 400px) {
  .support__image_squads {
    width: 150px;
    height: 150px;
    top: 500px;
    right: 130px;
  }

  .support__image_letter {
    width: 200px;
    height: 200px;
    top: 460px;
    right: -10px;
  }
}

@media (max-width: 370px) {
  .support__image_squads {
    width: 130px;
    height: 130px;
    top: 510px;
    right: 110px;
  }

  .support__image_letter {
    width: 180px;
    height: 180px;
    top: 470px;
    right: -20px;
  }
}
