.aboutus {
  height: 650px;
  background: linear-gradient(
    rgb(248, 205, 206),
    rgb(231, 186, 205),
    rgb(213, 167, 205),
    rgb(195, 148, 203),
    rgb(177, 130, 202)
  );
}

.aboutus__wrapper {
  width: 1000px;
  margin: 0 auto;
}

.aboutus__header {
  margin: 0;
  padding: 40px 0 0 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
}

.aboutus__image {
  position: absolute;
  right: 100px;
  width: 300px;
  height: 450px;
}
