.steps {
  height: 690px;
  /* background: linear-gradient(
    rgb(248, 205, 206),
    rgb(231, 186, 205),
    rgb(213, 167, 205),
    rgb(195, 148, 203),
    rgb(177, 130, 202)
  ); */
  background: linear-gradient(
    90deg,
    rgb(181, 246, 223),
    rgb(234, 234, 234) 61%
  );
  /* background-image: url(../../images/bigImage.jpg);
  background-position: center;
  background-size: cover;  */
}

.steps__wrapper {
  width: 1000px;
  margin: 0 auto;
  height: 650px;
  background-position: center;
  background-size: cover;
}

.steps__header {
  margin: 0 auto;
  padding: 40px 0 0 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
  width: 700px;
}
.steps__container {
  margin-top: 85px;
  position: relative;
}

.steps__image {
  position: absolute;
  right: 100px;
  width: 300px;
  height: 450px;
}

.steps__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 180px;
}
.first {
  top: 0px;
  right: 0px;
}

.second {
  top: 112px;
  right: 177px;
}
.third {
  top: 224px;
  right: 355px;
}

.fourth {
  top: 336px;
  left: 287px;
}

.steps__text {
  padding: 10px 0 0 0;
  margin: 0;
  text-align: center;
  border: 3px solid black;
  font-size: 18px;
  border-radius: 10px;
  height: 100px;
}

.steps__circle {
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.steps__number {
  margin: 0;
  padding: 0;
  margin: 50%;
}

.steps__text-fourth {
  font-size: 16px;
}
