.startnow {
  background-color: #f8f8f8;
}

.startnow__wrapper {
  padding-top: 200px;
  width: 1180px;
  margin: 0 auto;
}

.startnow__header {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-align: left;
  margin-left: 70px;
  font-weight: 600;
  padding-top: 100px;
  color: #1c1c1c;
  position: relative;
  z-index: 3;
}

.startbow__paragraph {
  width: 500px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-size: 23px;
  font-weight: 300;
  margin-left: 70px;
  text-align: left;
  color: #1c1c1c;
}

.startnow__block {
  margin: 0 auto;
  height: 450px;
  border-radius: 30px;
  background-color: #d0d0d0;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.stranow__block-inner {
  position: absolute;
  background-color: #eaecee;
  width: 1500px;
  height: 1500px;
  z-index: 3;
  top: 100px;
  left: 410px;
  transform: rotate(35deg);
}

.startnow__button {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 250px;
  top: 35px;
  left: 70px;
  padding: 15px 26px;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  background-color: #ff83dc;
  color: #fff;
  transition: opacity 0.6s ease;
  border-radius: 20px;
  filter: drop-shadow(1px 5px 5px rgba(243, 95, 233, 0.7));
}

.startnow__button:hover {
  opacity: 0.7;
}

.startnow__image_smartphone {
  position: absolute;
  top: 62px;
  right: -65px;
  width: 450px;
  height: 350px;
  z-index: 6;
}

.startnow__image_hourglass {
  position: absolute;
  top: 182px;
  right: 117px;
  width: 394px;
  height: 272px;
  z-index: 7;
  transform: rotate(-20deg);
}
