.selection {
  /* background: rgb(234, 234, 234) 61%; */
  background: #f8f8f8;
}

.selection__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 750px;
  margin: 0 auto;
  justify-content: space-between;
}

.selection__container {
  display: flex;
  position: relative;
  width: 500px;
  justify-content: flex-end;
}

.selection__card-left {
  position: absolute;
  width: 461px;
  left: 212px;
  top: 40px;
  height: 250px;
  z-index: 3;
  border-radius: 50px;
  background-color: #303030;
  filter: drop-shadow(3px 8px 8px rgba(0, 0, 0, 0.7));
}

.selection__card-right {
  width: 450px;
  position: absolute;
  right: 212px;
  top: 342px;
  height: 250px;
  z-index: 3;
  border-radius: 50px;
  background-color: #303030;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
}

.selection__container-left {
  justify-content: flex-start;
}

.selection__button {
  margin: 0 auto;
  margin-top: 60px;
  padding: 8px;
  display: block;
  font-size: 24px;
  width: 55%;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #303030;
  transition: transform 0.5s ease;
  border-radius: 20px;
  background-color: #ff83dc;
  transition: opacity 0.6s ease;
}

.selection__button:hover {
  opacity: 0.7;
}

.selection__text {
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #f8f8f8;
}

.selection__text_bold span {
  color: #ff83dc;
}

.selection__image {
  width: 280px;
  position: absolute;
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.5));
}

.selection__image-right {
  z-index: 5;
}
.selection__image-left {
  z-index: 4;
}

.selection__text_bold {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .selection {
    width: 100%;
  }
  .selection__wrapper {
    width: 90%;
  }
  .selection__icon {
    display: none;
  }
}

@media (max-width: 750px) {
  .selection__wrapper {
    flex-direction: column;
  }
  .selection__image {
    margin: 0 auto;
  }
  .selection__button {
    width: 70%;
    margin: 20px auto;
  }
}

@media (max-width: 420px) {
  .selection__button {
    width: 80%;
    font-size: 20px;
  }
  .selection__text {
    font-size: 27px;
  }
}

@media (max-width: 350px) {
  .selection__button {
    width: 80%;
    font-size: 18px;
  }
  .selection__text {
    font-size: 27px;
  }
}
