.selection {
  /* background: rgb(234, 234, 234) 61%; */
  background: #f8f8f8;
}

.selection__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 750px;
  margin: 0 auto;
  justify-content: space-between;
}

.selection__container {
  display: flex;
  position: relative;
  width: 500px;
  justify-content: flex-end;
}

.selection__card-left {
  position: absolute;
  width: 461px;
  left: 212px;
  top: 40px;
  height: 250px;
  z-index: 3;
  border-radius: 50px;
  background-color: #696969;
  filter: drop-shadow(3px 8px 8px rgba(0, 0, 0, 0.7));
}

.selection__card-right {
  width: 450px;
  position: absolute;
  right: 212px;
  top: 342px;
  height: 250px;
  z-index: 3;
  border-radius: 50px;
  background-color: #696969;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
}

.selection__container-left {
  justify-content: flex-start;
}

.selection__button {
  margin: 0 auto;
  margin-top: 60px;
  padding: 8px;
  display: block;
  font-size: 24px;
  width: 55%;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #303030;
  transition: transform 0.5s ease;
  border-radius: 15px;
  background-color: #ff83dc;
  transition: background-color 0.3s ease;
}

.selection__button:hover {
  background-color: #f8f8f8;
}

.selection__text {
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #f8f8f8;
}

.selection__text_bold span {
  color: #ff83dc;
}

.selection__image {
  width: 280px;
  position: absolute;
  filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.5));
}

.selection__image-right {
  z-index: 5;
}
.selection__image-left {
  z-index: 4;
}

.selection__text_bold {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .selection {
    width: 100%;
  }
  .selection__wrapper {
    width: 90%;
  }
  .selection__image {
    width: 260px;
  }
  .selection__card-left {
    width: 390px;
    left: 205px;
    height: 244px;
  }
  .selection__card-right {
    width: 390px;
    right: 195px;
    top: 304px;
    height: 244px;
  }
}

@media (max-width: 900px) {
  .selection {
    height: 1000px;
  }
  .selection__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
  }
  .selection__container-right {
    margin-left: 60px;
  }
  .selection__container-left {
    margin-right: 60px;
  }
}

@media (max-width: 700px) {
  .selection__image {
    width: 230px;
  }
  .selection__card-left {
    width: 365px;
    left: 166px;
  }
  .selection__card-right {
    width: 365px;
    right: 170px;
    top: 241px;
  }
}

@media (max-width: 650px) {
  .selection__container-right {
    margin-left: 0px;
  }
  .selection__container-left {
    margin-right: 0px;
  }
}

@media (max-width: 550px) {
  .selection {
    height: 950px;
  }
  .selection__container-right {
    margin-left: 0px;
  }
  .selection__text {
    font-size: 25px;
  }
  .selection__button {
    width: 50%;
    font-size: 20px;
  }

  .selection__card-left {
    height: 235px;
    width: 278px;
    left: 178px;
  }
  .selection__card-right {
    height: 235px;
    width: 278px;
    right: 178px;
    top: 242px;
  }

  .selection__container-right {
    margin-right: 0px;
    width: 100%;
  }
  .selection__container-left {
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .selection {
    height: 850px;
  }

  .selection__wrapper {
    height: 300px;
  }
  .selection__image {
    width: 180px;
  }

  .selection__card-left {
    height: 200px;
    width: 290px;
    left: 137px;
  }
  .selection__card-right {
    height: 200px;
    width: 290px;
    right: 131px;
    top: 179px;
  }
  .selection__text {
    font-size: 22px;
  }
  .selection__button {
    margin-top: 40px;
  }

  .selection__container-right {
    margin-right: 0px;
    width: 100%;
  }
  .selection__container-left {
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .selection {
    height: 750px;
  }

  .selection__image {
    width: 150px;
  }

  .selection__card-left {
    height: 167px;
    width: 255px;
    left: 100px;
    top: 29px;
  }
  .selection__card-right {
    height: 167px;
    width: 255px;
    right: 111px;
    top: 145px;
  }
  .selection__text {
    font-size: 22px;
  }
  .selection__button {
    margin-top: 20px;
  }

  .selection__container-right {
    margin-right: 0px;
    width: 100%;
  }
  .selection__container-left {
    margin-left: 0px;
    width: 100%;
  }
  .selection__wrapper {
    height: 280px;
  }
}

@media (max-width: 400px) {
  .selection {
    height: 650px;
  }
  .selection__container-right {
    margin-right: 0px;
    width: 100%;
  }
  .selection__container-left {
    margin-left: 0px;
    width: 100%;
  }
  .selection__wrapper {
    height: 250px;
  }

  .selection__card-left {
    height: 167px;
    width: 230px;
    left: 110px;
    top: 29px;
  }
  .selection__card-right {
    height: 167px;
    width: 230px;
    right: 111px;
    top: 145px;
  }
  .selection__button {
    font-size: 17px;
  }
}
