.main {
  background: #f8f8f8;

  padding-bottom: 200px;
}

.main__wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.main__header {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-left: 382px;
  width: 560px;
  min-height: 167px;
  font-size: 48px;
  font-weight: 600;
  text-align: left;
  color: #1c1c1c;
}

.main__image {
  background-image: url(../../images/screenOnPhone.png);
  margin-top: 156px;
  position: absolute;
  top: 109px;
  width: 401px;
  height: 590px;
  transition: top 0.6s ease-in-out;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 267px 569px;
  background-position: 68px 13px;
}

.main__container {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main__container_inner {
  padding-top: 25px;
  padding-right: 115px;
}

.main__wrapper.scrolled .main__image {
  top: 1250px;
}

.main__item {
  min-width: 285px;
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid #1c1c1c;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5); /* Добавляем тень снизу */
}

.main__item-first {
  position: relative;
}

.main__icon {
  width: 30px;
  height: 30px;
}

.main__text {
  padding-left: 10px;
  font-size: 24px;
  font-weight: 300;
}

.main__text-long {
  font-size: 24px;
  padding: 0px 10px;
}

.main__button {
  display: block;
  margin-top: 20px;
  width: 305px;
  top: 37px;
  right: 177px;
  padding: 22px 26px;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  background-color: #ff83dc;
  color: #fff;
  transition: opacity 0.6s ease;
  border-radius: 20px;
  filter: drop-shadow(1px 5px 5px rgba(243, 95, 233, 0.7));
}

.main__button:hover {
  opacity: 0.7;
}
.main__clip {
  position: absolute;
  top: -34px;
  right: 235px;
  width: 60px;
  height: 50px;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    height: 880px;
  }
  .main__wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .main__container {
    width: 50%;
    margin-top: 70px;
    margin-left: 300px;
    flex-direction: column;
  }
  .main__header {
    padding: 50px 0 0 0;
    width: 100%;
  }
  .main__clip {
    display: none;
  }
  .main__item {
    width: 90%;
  }
  .main__wrapper.scrolled .main__image {
    top: 1350px;
  }
}

@media (max-width: 850px) {
  .main__container {
    width: 55%;
  }
  .main__text-long {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .main__image {
    display: none;
  }
  .main__container {
    margin: 40px auto;
    width: 90%;
  }
  .main__button {
    margin: 0 auto;
    width: 80%;
    right: 5px;
  }
}

@media (max-width: 500px) {
  .main {
    height: 980px;
  }
  .main__wrapper {
    width: 100%;
    margin: 0;
  }
  .main__header {
    padding: 50px 0 0 0;
    font-size: 35px;
    width: 100%;
  }
  .main__container {
    width: 100%;
  }
  .main__image {
    display: none;
  }
  .main__text-long {
    font-size: 16px;
  }
  .main__button {
    margin: 0 auto;
    width: 80%;
    font-size: 17px;
    min-width: 200px;
  }
}

@media (max-width: 400px) {
  .main {
    height: 1100px;
  }
  .main__container {
    width: 100%;
  }
  .main__item {
    width: 85%;
    min-width: 200px;
    min-height: 75px;
  }
  .main__text {
    font-size: 19px;
  }
  .main__text-long {
    font-size: 16px;
  }
  .main__button {
    width: 80%;
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  .main__button {
    font-size: 18px;
  }
}
