.main {
  background: #f8f8f8;
  padding-bottom: 50px;
}

.main__wrapper {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

.main__header {
  margin: 0;
  padding: 0;
  height: 134px;
  padding-left: 13px;
  text-transform: uppercase;
  padding-top: 80px;
  min-height: 110px;
  font-size: 43px;
  font-weight: 600;
  text-align: left;
  color: #1c1c1c;
  width: 41%;
}

.main__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  position: relative;
  flex-wrap: wrap;
}

.main__container_inner {
  display: flex;
  flex-direction: column;
  /* padding-top: 32px; */
  width: 100%;
}

.main__item {
  width: 370px;
  margin: 0 auto;
  margin-top: 26px;
  border-radius: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: start;
  background: #dcdcdc;
  background: #d0d0d0;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.main__block-inner {
  position: absolute;
  background-color: #eaecee;
  width: 257px;
  height: 243px;
  z-index: 3;
  top: 16px;
  left: 218px;
  transform: rotate(35deg);
  pointer-events: none;
  user-select: none;
  transition: 0.5s ease-in-out;
}

.main__item:hover .main__block-inner {
  transform: translateX(100%) rotate(35deg);
  transition: 0.5s ease-in-out;
}

.main__item-first {
  position: relative;
}

.main__text {
  padding-left: 25px;
  font-size: 24px;
  font-weight: 300;
  z-index: 5;
}

.main__button {
  margin: 26px auto;
  padding: 0;
  display: block;
  width: 440px;
  padding: 22px 22px;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  background-color: #ff83dc;
  color: #f8f8f8;
  transition: opacity 0.4s ease-in-out;
  border-radius: 20px;
}

.main__button:hover {
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.main__icon {
  width: 45px;
  height: 45px;
  margin-left: 25px;
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1180px) {
  .main {
  }
  .main__wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .main__container {
    width: 85%;
    margin: 0 auto;
  }

  .main__header {
    padding: 50px 0 0 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 850px) {
  .main {
    height: 1680px;
    padding-bottom: 0;
  }
  .main__header {
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .main {
    padding-top: 70px;
    height: auto;
  }
  .main__image {
    display: none;
  }
  .main__header {
    text-align: center;
  }
  .main__container {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .main {
    padding-top: 90px;
  }
  .main__wrapper {
    width: 100%;
    margin: 0;
  }
  .main__header {
    padding: 50px 0 0 0;
    font-size: 32px;
    width: 90%;
    margin: 0 auto;
  }
  .main__block-inner {
    left: 220px;
  }
}

@media (max-width: 400px) {
  .main__header {
    padding: 0;
    font-size: 32px;
  }
  .main__item {
    width: 85%;
    min-width: 200px;
    height: 75px;
  }
  .main__text {
    font-size: 19px;
    margin: 0;
  }
  .main__text-long {
    font-size: 17px;
  }
  .main__container {
    margin-top: 10px;
  }
  .main__block-inner {
    left: 190px;
  }
}
