.steps {
  /* background: linear-gradient(
    rgb(248, 205, 206),
    rgb(231, 186, 205),
    rgb(213, 167, 205),
    rgb(195, 148, 203),
    rgb(177, 130, 202)
  ); */
  /* background: linear-gradient(
    90deg,
    rgb(181, 246, 223),
    rgb(234, 234, 234) 61%
  ); */
  /* background: rgb(234, 234, 234) 61%; */
  background: #f8f8f8;
  /* background-image: url(../../images/bigImage.jpg);
  background-position: center;
  background-size: cover;  */
  padding-bottom: 200px;
}

.steps__wrapper {
  width: 1000px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

.steps__header {
  margin: 0 auto;
  text-transform: uppercase;
  /* padding: 40px 0 0 0; */
  font-size: 43px;
  text-align: left;
  width: 570px;
  margin-left: 430px;
  color: #1c1c1c;
}

.steps__paragraph {
  margin: 0;
  padding: 0;
  margin-left: 430px;
  margin-top: 30px;
  font-size: 22px;
  width: 570px;
  font-weight: 300;
  text-align: left;
  color: #1c1c1c;
}

.steps__container {
  margin-top: 205px;
  position: relative;
  width: 735px;
  margin-left: 265px;
}

.steps__image {
  width: 300px;
  height: 320px;
  position: relative;
  left: 92px;
  top: -14px;
}

.steps__block {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 180px; */
  position: relative;
  top: 300px;
  width: 185px;
  height: 155px;
}

.steps__block .steps__block {
  width: 100%;
  height: 100%;
  top: -100%;
  left: 100%;
  margin-top: 40px;
  margin-right: 10px;
  position: absolute;
}

.first {
  top: 0px;
  right: 0px;
}

.second {
  top: 116px;
  right: 177px;
}

.third {
  top: 233px;
  right: 356px;
}

.fourth {
  top: 351px;
  left: 286px;
}

.steps__text {
  padding: 8px 15px; /* Adjust padding as needed */
  margin: 0;
  text-align: center;
  border: 3px solid #1c1c1c;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 300;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center text vertically */
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5); /* Добавляем тень снизу */
}

.steps__text_first {
  padding: 7px 10px;
  font-size: 17px;
}

.steps__circle {
  margin: 0 auto;
  margin-top: 10px;
  border: 3px solid #1c1c1c;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: relative;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* Добавляем тень снизу */
}

.steps__number {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  font-size: 33px;
  font-weight: 600;
  color: #1c1c1c;
  transform: translate(-50%, -50%); /* Center the number */
  text-align: center; /* Center horizontally */
}

.steps__text-fourth {
  font-size: 16px;
}

@media (max-width: 1000px) {
  .steps {
    width: 100%;
    padding-top: 120px;
    height: 1300px;
  }

  .steps__wrapper {
    width: 90%;
  }

  .steps__container {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .steps__block {
    position: static;
    margin-bottom: 20px;
  }

  .steps__image {
    position: relative;
    right: 323px;
    left: 0px;
    top: 76px;
    height: 290px;
  }

  .steps__header {
    padding: 50px 0 0 0;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .steps {
    padding-top: 70px;
  }
}

@media (max-width: 700px) {
  .steps {
    padding-top: 50px;
  }
}
@media (max-width: 600px) {
  .steps {
    padding-top: 80px;
  }
}

@media (max-width: 500px) {
  .steps {
    padding-top: 10px;
    height: 1360px;
  }
  .steps__header {
    padding-top: 30px;
  }
}
@media (max-width: 375px) {
  .steps__header {
    padding-top: 50px;
  }
}
