.header {
  /* background: linear-gradient(
    90deg,
    rgb(234, 196, 238),
    rgb(234, 234, 234) 61%
  ); */
  background: rgb(247, 228, 249);
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 21;
}

.header__wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  color: white;
  text-decoration: none;
  transition: 0.4s ease-out;
  opacity: 1;
  width: 43px;
  height: 43px;
}

.header__link:hover {
  opacity: 0.7;
  transform: scale(1.15);
}

.header__logo {
  padding-right: 15px;
  /* margin-left: 48px; */
  width: 75px;
  height: 75px;
}

.header__links {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  display: inline;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-right: 18px;
}

.header__links:last-of-type {
  padding-right: 0;
}

.header__lang-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  /* margin-right: 48px; */
}

.langbox {
  display: flex;
  width: 100px;
  flex-direction: row;
}

.lang__button_eng {
  padding: 0;
  margin: 3px 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  width: 38px;
  height: 38px;
  background-image: url(../../images/engIcon.png);
  border: 0;
  background-size: 38px;
  transition: 0.3s ease-out;
}

.lang__button_eng:hover {
  transform: scale(1.15);
}

.lang__button_ru {
  border: 0;
  padding: 0;
  margin: 3px 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  width: 38px;
  height: 38px;
  background-image: url(../../images/russianFlag2.png);
  background-position: -4px -11px;
  background-size: 61px;
  margin-left: 5px;
  transition: 0.3s ease-out;
}

.lang__button_ru:hover {
  transform: scale(1.15);
}

/* .lang__button-eng {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  height: 35px;
  padding: 10px;
}

.lang__button-russia {
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 10px;
} */

.header__block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__text {
  font-size: 30px;
  font-weight: 700;
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
.header__logo {
margin-left: 24px;
}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
.header__logo {
margin-top: 16px;
margin-left: 16px;
max-width: 142px;
max-height: 42px;
}
} */

/* @media screen and (min-width: 768px) and (max-width: 1023px) {
.header__lang-links {
margin-right: 24px;
}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
.header__lang-links {
margin-top: 30px;
margin-right: 16px;
}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
.header__link {
font-size: 18px;
line-height: 20px;
}
} */
