.greeting {
  /* background: linear-gradient(
    90deg,
    rgb(181, 246, 223),
    rgb(234, 234, 234) 61%
  ); */
  background-color: rgb(38, 38, 153);
  height: 650px;
  padding-top: 55px;
}

.greeting__wrapper {
  width: 1000px;
  margin: 0 auto;
  height: 650px;
  position: relative;
}

.greeting__header {
  margin: 0 auto;
  padding: 70px 0 0 0;
  font-size: 43px;
  text-align: center;
  /* color: #11be93; */
  color: white;
  width: 500px;
  z-index: 4;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

/* Добавленные стили для анимированного текста */
.greeting__container {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 850px;
}

.greeting__text-container {
  margin-top: 50px;
  text-align: center;
  font-size: 29px;
  font-weight: 500;
  z-index: 3;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 20s steps(300) forwards,
    blinking-cursor 0.9s step-end infinite;
  border-right: 2px solid #000;
}

/* .greeting__animated-text {
  width: 500px;
  margin: 0 auto;
  opacity: 0;
  font-size: 27px;
  font-weight: 600;
  position: absolute;
  transition: opacity 0.9s ease-in-out;
}

.greeting__animated-text-visible {
  opacity: 1;
} */

.greeting__text {
  margin: 0;
  padding: 0;
  font-size: 28px;
  text-align: center;
  color: white;
}

.greeting__image_second {
  position: absolute;
  top: 132px;
  right: -49px;
  width: 260px;
  height: 260px;
  background: url('../../images/iconSelection8.png') center/cover;
  transition: transform 0.5s ease;
  /* transform: rotateX(12deg); */
  transform: rotateZ(22deg);
  color: white;
  z-index: 1;
}

.greeting__image_first {
  position: absolute;
  top: -243px;
  left: 10px;
  width: 200px;
  height: 200px;
  background: url('../../images/iconSelection5.png') center/cover;
  transition: transform 0.5s ease;
  transform: rotateX(12deg);
  transform: rotateZ(21deg);
  color: white;
  z-index: 1;
}
