.greeting {
  /* background: linear-gradient(
    90deg,
    rgb(181, 246, 223),
    rgb(234, 234, 234) 61%
  ); */
  /* background-color: rgb(115, 99, 188); */
  background: rgb(247, 228, 249);
  /* background: #ef798a; */
  height: 640px;
  padding-top: 55px;
}

.greeting__wrapper {
  width: 1000px;
  margin: 0 auto;
  height: 640px;
  position: relative;
}

.greeting__header {
  margin: 0 auto;
  -webkit-text-stroke: 1px #11be93;
  padding: 70px 0 0 0;
  font-size: 47px;
  text-align: center;
  /* color: #11be93; */
  color: white;
  width: 500px;
  z-index: 4;
  min-height: 154px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

/* Добавленные стили для анимированного текста */
.greeting__container {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 850px;
}

.greeting__text-container {
  margin-top: 50px;
  text-align: center;
  font-size: 29px;
  font-weight: 500;
  z-index: 3;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 10s steps(30) forwards,
    blinking-cursor 0.9s step-end infinite;
  border-right: 2px solid #fff;
}

.greeting__text {
  margin: 0;
  padding: 0;
  font-size: 28px;
  text-align: center;
  color: #11be93;
}

.greeting__image_second {
  position: absolute;
  top: 111px;
  right: -71px;
  width: 260px;
  height: 260px;
  background: url('../../images/iconSelection8.png') center/cover;
  transition: transform 0.5s ease;
  /* transform: rotateX(12deg); */
  transform: rotateZ(19deg);
  color: white;
  z-index: 1;
}

.greeting__image_first {
  position: absolute;
  top: -243px;
  left: 10px;
  width: 200px;
  height: 200px;
  background: url('../../images/iconSelection5.png') center/cover;
  transition: transform 0.5s ease;
  transform: rotateX(12deg);
  transform: rotateZ(21deg);
  color: white;
  z-index: 1;
}

.greeting__image_third {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 228px;
  right: 68px;
  z-index: 3;
  transform: rotateY(21deg);
}
