.greeting {
  background: #f8f8f8;
  padding-top: 130px;
  padding-bottom: 290px;
}

.greeting__wrapper {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

.greeting__image_logo {
  position: absolute;
  transform: rotateZ(10deg);
  width: 400px;
  top: 60px;
  opacity: 0.85;
  pointer-events: none;
  user-select: none;
}

.greeting__header {
  margin: 0 auto;
  font-size: 52px;
  text-align: left;
  color: #1c1c1c;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 4;
  padding-top: 115px;
  margin-left: 430px;
}

.greeting__container {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 850px;
}

.greeting__text-container {
  z-index: 3;
  margin-left: 267px;
  margin-top: 30px;
  position: relative;
}

.text {
  white-space: nowrap;
  font-size: 29px;
  font-weight: 600;
  overflow: hidden;
}

.greeting__text {
  margin: 0;
  position: absolute;
  padding: 0;
  font-size: 23px;
  font-weight: 300;
  text-align: left;
  color: #1c1c1c;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.greeting__current-day {
  display: flex;
  padding-top: 12px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: 293px;
  width: 110px;
  font-size: 49px;
  height: 110px;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.35));
  color: #1c1c1c;
  background: url(../../images/calendarSVG.svg) no-repeat;
  transform: rotate(10deg);
  transition: transform 0.5s ease;
  z-index: 1;
  animation: rockingAnimation 1.8s infinite alternate;
}

@keyframes rockingAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(17px);
  }
}

.greeting__image_first {
  position: absolute;
  top: -243px;
  left: 10px;
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease;
  transform: rotateX(12deg);
  transform: rotateZ(21deg);
  color: white;
  z-index: 1;
}

.greeting__button {
  display: block;
  position: relative;
  width: 250px;
  top: 125px;
  left: 268px;
  padding: 15px 26px;
  font-size: 21px;
  text-align: center;
  text-decoration: none;
  background-color: #ff83dc;
  color: #fff;
  transition: opacity 0.6s ease;
  border-radius: 20px;
  filter: drop-shadow(1px 5px 5px rgba(243, 95, 233, 0.7));
}

.greeting__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@keyframes rockingAnimation2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15px);
  }
}

@media (max-width: 1180px) {
  .greeting {
    width: 100%;
  }
  .greeting__header {
    font-size: 40px;
    margin-left: 460px;
  }
  .greeting__text {
    font-size: 25px;
  }
  .greeting__wrapper {
    width: 90%;
  }
  .greeting__container {
    width: 90%;
  }
  .greeting__text-container {
    margin-left: 415px;
  }
  .greeting__button {
    margin-left: 147px;
    top: 175px;
  }
}

@media (max-width: 850px) {
  .greeting {
    padding-bottom: 150px;
  }
  .greeting__header {
    font-size: 39px;
    margin-left: 415px;
  }

  .greeting__text {
    font-size: 19px;
    width: 80%;
  }
  .text {
    font-size: 22px;
  }

  .greeting__text-container {
    width: 56%;
    margin-left: 314px;
  }

  .greeting__image_logo {
    width: 330px;
  }

  .greeting__image_second {
    top: 50px;
    left: 270px;
    width: 90px;
    height: 90px;
  }

  .greeting__button {
    margin-left: 45px;
    top: 130px;
  }
}

@media (max-width: 700px) {
  .greeting {
    height: 750px;
    padding-top: 120px;
    padding-bottom: 0px;
  }

  .greeting__image_block {
    height: 430px;
  }

  .greeting__image_third {
    display: none;
  }

  .greeting__button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 100px;
    margin-left: 0;
  }

  .greeting__header {
    font-size: 33px;
    text-align: center;
    width: 80%;
    margin-left: 67px;
    padding-top: 40px;
  }

  .greeting__container {
    width: 80%;
    margin: 0 auto;
  }

  .greeting__text {
    font-size: 20px;
    text-align: center;
    width: 90%;
  }

  .greeting__text-container {
    width: 100%;
    margin-left: 37px;
    margin-top: 11px;
  }

  .greeting__image_logo {
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%) rotateZ(10deg);
  }

  .greeting__current-day {
    left: 376px;
  }
}

@media (max-width: 620px) {
  .greeting__button {
    margin-top: 35px;
  }
  .greeting__container {
    width: 90%;
  }
}
@media (max-width: 550px) {
  .greeting__current-day {
    padding-top: 2px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45px;
    left: 293px;
    width: 82px;
    font-size: 42px;
    height: 110px;
  }

  .greeting {
    height: 790px;
    padding-bottom: 0;
  }

  .greeting__wrapper {
    margin: 0 auto;
  }

  .greeting__header {
    margin: 0 auto;
    padding-top: 65px;
    width: 90%;
    font-size: 38px;
    text-align: center;
  }

  .greeting__container {
    width: 100%;
  }

  .greeting__text-container {
    width: 85%;
    margin: 0 auto;
    height: 50px;
    padding-top: 20px;
  }

  .greeting__text {
    width: 100%;
    font-size: 22px;
  }

  .greeting__image_block {
    position: relative;
  }
}

@media (max-width: 500px) {
  .greeting__text-container {
    width: 100%;
  }
  .greeting {
    height: 820px;
  }
}

@media (max-width: 450px) {
  .greeting {
    padding-top: 70px;
  }

  .greeting__header {
    padding-top: 19px;
    font-size: 39px;
  }

  .greeting__current-day {
    padding-top: 0px;
    top: 50px;
    left: 273px;
    width: 80px;
    font-size: 41px;
    height: 110px;
  }
  .greeting__text {
    font-size: 21px;
    width: 100%;
  }
  .greeting__button {
    margin-top: 35px;
  }
}

@media (max-width: 450px) {
  .greeting__current-day {
    left: 260px;
  }

  .greeting__header {
    padding-top: 42px;
    font-size: 35px;
  }
  .greeting__text {
    font-size: 20px;
    margin-left: 0;
  }
  .text {
    font-size: 20px;
  }

  .greeting__image_block {
    margin-top: 20px;
  }

  .greeting__button {
    margin-top: 30px;
  }
}

@media (max-width: 411px) {
  .greeting {
    padding-top: 125px;
  }
  .greeting__text {
    font-size: 19px;
  }
}

@media (max-width: 395px) {
  .greeting__current-day {
    left: 230px;
  }
}
@media (max-width: 370px) {
  .greeting__button {
    margin-top: 40px;
  }
}
