.footer {
  /* background: rgb(247, 228, 249); */
  height: 210px;
  background: #f8f8f8;
  box-shadow: 30px 30px rgba(238, 209, 243, 0.5); /* Добавляем тень снизу */
  height: 200px;
}

.footer__wrapper {
  width: 1000px;
  margin: 0 auto;
}

.footer__heading {
  margin: 0;
  padding: 0;
  color: #8b8b8b;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
  border-bottom: 3px solid #424242;
}

.footer__content {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__content-item {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  color: #1c1c1c;
  bottom: 8px;
  position: relative;
}

.footer__platforms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: right;
  color: #1c1c1c;
}

.footer__copyright {
  color: #1c1c1c;
  font-size: 20px;
}

.footer__langbox {
  margin-top: 45px;
  display: flex;
  width: 100px;
  flex-direction: row;
}

.footer__lang-button_eng {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  width: 38px;
  height: 38px;
  background-image: url(../../images/engIcon.png);
  border: 0;
  background-size: 38px;
  transition: 0.3s ease-out;
}
.footer__lang-button_eng:hover {
  transform: scale(1.15);
}

.footer__lang-button_ru {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  width: 38px;
  height: 38px;
  background-image: url(../../images/russianFlag2.png);
  background-position: -4px -11px;
  background-size: 61px;
  margin-left: 5px;
  transition: 0.3s ease-out;
}

.footer__lang-button_ru:hover {
  transform: scale(1.15);
}

.lang__button {
  cursor: pointer;
}

.footer__icon-link {
  text-decoration: none;
  color: white;
  display: inline;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding-right: 18px;
}

.footer__icon-link:last-of-type {
  padding-right: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
  transition: 0.4s ease-out;
  opacity: 1;
  width: 40px;
  height: 40px;
  padding-left: 5px;
}

.footer__link:hover {
  opacity: 0.7;
  transform: scale(1.15);
}

.footer__info-block {
  min-width: 125px;
  text-align: start;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
}

.footer__info-items {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #1c1c1c;
}

.footer__info-item {
  padding-bottom: 10px;
}

.footer__info-link {
  color: #1c1c1c;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
}

.footer__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 18px;
  min-width: 110px;
  font-weight: 300;
  font-size: 20px;
}

.footer__masters-block {
  min-width: 110px;
}

.footer__clients-block {
  min-width: 110px;
}

@media (max-width: 1000px) {
  .footer {
    width: 100%;
  }
  .footer__wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .footer {
    height: 480px;
  }
  .footer__content {
    width: 90%;
    margin: 0 auto;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__platforms {
    width: 100%;
    flex-direction: column;
  }

  .footer__langbox {
    display: none;
  }

  .footer__info-item {
    padding-bottom: 20px;
    font-size: 25px;
  }

  .footer__text {
    font-size: 21px;
    margin-right: 15px;
  }

  .footer__masters-block {
    display: flex;
    justify-content: center;
    font-size: 21px;
  }

  .footer__clients-block {
    display: flex;
    justify-content: center;
    font-size: 21px;
  }

  .footer__copyright {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
  }
}

@media (max-width: 400px) {
  .footer {
    height: 490px;
  }
}
