.footer {
  background: linear-gradient(
    rgb(248, 205, 206),
    rgb(231, 186, 205),
    rgb(213, 167, 205),
    rgb(195, 148, 203),
    rgb(177, 130, 202)
  );
  height: 210px;
}

.footer__wrapper {
  width: 1000px;
  margin: 0 auto;
}

.footer__heading {
  margin: 0;
  padding: 30px 0 20px;
  color: #8b8b8b;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  border-bottom: 1px solid #424242;
}

.footer__content {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__content-item {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  color: black;
}

.footer__content-item:hover {
  opacity: 0.7;
}

.footer__platforms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: right;
  color: black;
}

.footer__copyright {
  color: black;
}

.footer__langbox {
  margin-bottom: 17px;
  display: flex;
  width: 100px;
  flex-direction: row;
}

.footer__lang-button_eng {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  width: 38px;
  height: 38px;
  background-image: url(../../images/engIcon.png);
  border: 0;
  background-size: 38px;
}

.footer__lang-button_ru {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  width: 38px;
  height: 38px;
  background-image: url(../../images/russianFlag2.png);
  background-position: -4px -11px;
  background-size: 61px;
  margin-left: 5px;
}

.lang__button {
  cursor: pointer;
}

.footer__icon-link {
  text-decoration: none;
  color: white;
  display: inline;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-right: 18px;
}

.footer__icon-link:last-of-type {
  padding-right: 0;
}

.footer__link {
  color: white;
  text-decoration: none;
  transition: 0.4s ease-out;
  opacity: 1;
  width: 40px;
  height: 40px;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__info-block {
  margin-right: 15px;
}

.footer__info-items {
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
}

.footer__info-item {
  padding-bottom: 10px;
}

.footer__info-link {
  color: black;
  text-decoration: none;
}

/* max-width: 550px {
.footer__heading {
padding-bottom: 21px;
font-size: 12px;
}

.footer__platforms {
flex-direction: column;
gap: 12px
}

.footer__content {
flex-direction: column-reverse;
padding-top: 30px;
gap: 30px;
}

.footer__content-item {
font-size: 12px;
text-align: center;
}

.footer__copyright {
color: #8B8B8B;
}
} */
