.options {
  /* background: linear-gradient(
    90deg,
    rgb(181, 246, 223),
    rgb(234, 234, 234) 61%
  ); */
  background: rgb(234, 234, 234) 61%;
  height: 750px;
}

.options__wrapper {
  width: 1000px;
  margin: 0 auto;
  height: 600px;
}

.options__main-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  height: 550px;
}

.options__header {
  margin: 0;
  padding: 40px 0 0 0;
  font-size: 33px;
  text-align: center;
  color: #11be93;
}

.options__container-left {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.options__container-right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.options__container-inner {
  /* border: 1px solid white; */
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 15px;
}

.left-container {
  border: 2px solid white;
  width: 300px;
  height: 490px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.options__container-little {
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.third-container {
  margin-left: 15px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.options__container-inner-row {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-sizing: border-box;
}

.right-container {
  border: 2px solid white;
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.options__caption {
  margin: 0;
  color: black;
  padding: 15px 0 0 0;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.options__text {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-size: 19px;
  color: black;
  text-align: center;
  padding-bottom: 20px;
}

.options__caption_wide {
  padding-top: 10px;
  width: 410px;
  font-size: 19px;
  text-align: center;
  padding-left: 30px;
}

.options__text_wide {
  width: 410px;
  font-size: 18px;
  text-align: center;
  padding-left: 37px;
}

.options__caption_first {
  width: 250px;
}

.options__text_first {
  width: 250px;
}

.options__caption_second {
  padding-top: 20px;
}

.options__caption_third {
  padding-top: 20px;
}

.options__text_second {
  padding-bottom: 20px;
}

.options__text_third {
  padding-bottom: 34px;
}

.options__clip {
  position: absolute;
  top: -37px;
  right: 184px;
  width: 50px;
  height: 50px;
}
