@import url(./vendors/fonts/fonts.css);

body {
  margin: 0;
  font-family: 'OpenSans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  --swiper-theme-color: #1c1c1c;
}

@media (max-width: 650px) {
  body {
    --swiper-navigation-size: 50px;
  }
}

@media (max-width: 445px) {
  body {
    --swiper-navigation-size: 1px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
