@keyframes pulse {
  from {
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  to {
    -webkit-border-radius: 10%;
    border-radius: 10%;
  }
}

.benefits {
  padding-top: 100px;
  padding-bottom: 50px;
  background: linear-gradient(
    90deg,
    rgb(181, 246, 223),
    rgb(234, 234, 234) 61%
  );
}

.benefits__wrapper {
  width: 1000px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 0;
}

.section-subtitle {
  margin: 20px 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
}

.cards {
  /* width: 920px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 0px 100px;
  position: relative;
}

.cards__item {
  box-sizing: border-box;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__item:nth-of-type(3n) {
  margin-right: 0px;
}

.cards__image {
  animation: pulse 2s ease-in-out infinite alternate;
  /* border-radius: 50%; */
  padding: 40px 40px 40px 40px;
  width: 160px;
  height: 160px;
}

/* .cards__image:hover {
  transform: scale(1.07);
} */

.cards__title {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  margin: 0;
  margin-top: 16px;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

@keyframes movee {
  0% {
    left: 600px;
    top: 700px;
    transform: rotate(0deg);
  }
  10% {
    left: 630px;
    top: 700px;
    transform: rotate(60deg);
  }
  20% {
    left: 660px;
    top: 700px;
    transform: rotate(120deg);
  }
  30% {
    left: 630px;
    top: 700px;
    transform: rotate(180deg);
  }
  40% {
    left: 600px;
    top: 700px;
    transform: rotate(240deg);
  }
  50% {
    left: 570px;
    top: 700px;
    transform: rotate(300deg);
  }
  60% {
    left: 540px;
    top: 700px;
    transform: rotate(360deg);
  }
  70% {
    left: 570px;
    top: 700px;
    transform: rotate(420deg);
  }
  80% {
    left: 600px;
    top: 700px;
    transform: rotate(480deg);
  }
  90% {
    left: 630px;
    top: 700px;
    transform: rotate(520deg);
  }
  100% {
    left: 600px;
    top: 700px;
    transform: rotate(580deg);
  }
}

.cards__image_last {
  border-radius: 50%;
  position: absolute;
  animation: movee 6 s ease-in-out infinite alternate;
}
